<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

  <body>

    <h2>Правопорушення</h2>

    <table id="breach" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;">Id</th>
            <th style="width: 100px;">Номер</th>
            <th style="width: 100px;">Дата</th>



            <th style="width: 120px">Метод</th>
            <th style="width: 120px">Telephone</th>
            <th>Регіон</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="breach : ${selections}">
              <td>
                  <a th:href="@{/breach/__${breach.id}__}" th:text="${breach.sentId}"/></a>
              </td>
              <td th:text="${breach.sentNumber}"/>
              <td th:text="${#temporals.format(breach.sentDate, 'dd.MM.yyyy HH:mm')}"/>

              <td th:text="${breach.method.name}"/>
              <td th:text="${breach.erdrArticle}"/>
              <td th:text="${breach.region.name}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
