<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<body>
<!--/*@thymesVar id="dictionaries" type="java.util.List<ua.gov.cyberpolice.breach.entity.Dictionary>"*/-->
    <div class="panel panel-default">
        <div class="panel-heading" th:text="#{dictionary}"></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th th:text="#{dictionary.name}"></th>
                </tr>
                <tr th:each="dictionary : ${dictionaries}">
                    <td>
                        <a th:href="${dictionary.link}" th:title="${dictionary.name}">
                            <span th:text="${dictionary.name}"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
