<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<body>
  <!--/*@thymesVar id="participant" type="ua.gov.cyberpolice.breach.entity.Participant"*/-->
  <form class="form-horizontal" th:object="${participant}" method="post" autocomplete="off">
    <input hidden th:field="${participant.id}">
    <input hidden th:field="${participant.headId}">
    <input hidden th:field="${participant.person}">
    <div class="form-group has-feedback">
      <div class="panel panel-default">
        <div class="panel-heading">Особа</div>
        <div class="panel-body">
          <div class="row">
            <label class="control-label col-md-1">Тип особи</label>
            <div class="col-md-5">
              <select class="form-control" th:field="${participant.participantType}">
                <option th:each="type : ${@participantTypeRepository.findAll()}"
                        th:value="${type.id}"
                        th:text="${type.name}">
                </option>
              </select>
            </div>

            <label class="control-label col-md-offset-4 col-md-1" th:text="#{participant.nsrd}"></label>
            <div class="col-md-1">
              <select class="form-control" th:field="${participant.nsrd}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

          </div>
          <div class="row">
            <label class="control-label col-md-1">Пасспорт</label>
            <div class="col-md-1">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.passport}"
                     onkeyup="this.value = this.value.toUpperCase();"
                     onblur="updatePerson()"/>
            </div>
            <label class="control-label col-md-1">Прізвище</label>
            <div class="col-md-3">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.lastName}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
            <label class="control-label col-md-1">Ім'я</label>
            <div class="col-md-2">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.firstName}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
            <label class="control-label col-md-1">По батькові</label>
            <div class="col-md-2">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.middleName}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
          </div>
          <div class="row">
            <label class="control-label col-md-1">Дата народж</label>
            <div class="col-md-2">
              <input class="form-control" type="date" th:field="${participant.person.birthDate}" />
            </div>
            <label class="control-label col-md-offset-3 col-md-1">Регіон</label>
            <div class="col-md-5">
              <select class="form-control" th:field="${participant.person.region}">
                <option th:each="region : ${@regionRepository.findAll()}"
                        th:value="${region.id}"
                        th:text="${region.name}"></option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="control-label col-md-1">Місто</label>
            <div class="col-md-3">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.city}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
            <label class="control-label col-md-1">Вулиця</label>
            <div class="col-md-3">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.street}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
            <label class="control-label col-md-1">Будинок</label>
            <div class="col-md-1">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.house}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
            <label class="control-label col-md-1">Квартира</label>
            <div class="col-md-1">
              <input class="form-control"
                     type="text"
                     th:field="${participant.person.apartment}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
          </div>
        </div>
        <div th:if="${participant.id}" class="panel-footer">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dialogDelete">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-10 col-md-2">
        <button class="btn btn-default" type="submit">
          Зберегти
        </button>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="modal fade" id="dialogDelete" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Видалення</h4>
          </div>
          <div class="modal-body">
            <p>Ви впевнені, що хочете видалити?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" th:href="@{delete}">Так</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  function updatePerson() {
    if (document.getElementById('person').value === "" && document.getElementById('person.passport').value !== "") {
      const request = new XMLHttpRequest();
      request.open('get', 'person/'.concat(document.getElementById('person.passport').value), true);
      request.onload = function () {
        if (this.status >= 200 && this.status < 400) {
          try {
            const person = JSON.parse(this.response);
            document.getElementById('person.lastName').value = person.lastName;
            document.getElementById('person.firstName').value = person.firstName;
            document.getElementById('person.middleName').value = person.middleName;
            document.getElementById('person.birthDate').value = person.birthDate;
            document.getElementById('person.region').value = person.region.id;
            document.getElementById('person.city').value = person.city;
            document.getElementById('person.street').value = person.street;
            document.getElementById('person.house').value = person.house;
            document.getElementById('person.apartment').value = person.apartment;
          } catch (e) {
            return false;
          }
        }
      }
      request.send();
    }
  }
</script>