<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<body>
  <!--/*@thymesVar id="walletPayment" type="ua.gov.cyberpolice.breach.entity.WalletPayment"*/-->
  <form th:object="${walletPayment}" class="form-horizontal" id="bank-card-edit-form" method="post" autocomplete="off">
    <div class="form-group has-feedback">
      <div class="panel panel-default">
        <input hidden th:field="${walletPayment.id}">
        <input hidden th:field="${walletPayment.headId}">
        <div class="panel-heading" th:text="#{wallet}"></div>
        <div class="panel-body">
          <div class="row">
            <label class="control-label col-md-2" th:text="#{wallet.payment_provider}"></label>
            <div class="col-md-4">
              <select class="form-control" th:field="${walletPayment.paymentProvider}">
                <option th:each="paymentProvider : ${@paymentProviderRepository.findAll()}"
                        th:value="${paymentProvider.id}"
                        th:text="${paymentProvider.name}">
                </option>
              </select>
            </div>
            <label class="control-label col-md-1" th:text="#{wallet}"></label>
            <div class="col-md-2">
              <input class="form-control"
                     type="text"
                     th:field="${walletPayment.walletNumber}"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-10 col-md-2">
        <button class="btn btn-default" type="submit">
          Зберегти
        </button>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="modal fade" id="dialogDelete" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Видалення</h4>
          </div>
          <div class="modal-body">
            <p>Ви впевнені, що хочете видалити?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" th:href="@{delete}">Так</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>