<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<!--/*@thymesVar id="breach" type="ua.gov.cyberpolice.breach.entity.Breach"*/-->
<body>
  <form th:object="${breach}" class="form-horizontal" id="add-breach-form" method="post" autocomplete="off">
    <input hidden th:field="${breach.id}">
    <div class="form-group has-feedback">
      <div class="panel panel-default">
        <div class="panel-heading">ЗАГАЛЬНА ІНФОРМАЦІЯ</div>
        <div class="panel-body">
          <div class="row">
            <label class="control-label col-md-1">Id</label>
            <div class="col-md-1">
              <input class="form-control" type="text" th:field="${breach.sentId}"/>
            </div>
            <label class="control-label col-md-1">Номер</label>
            <div class="col-md-1">
              <input class="form-control" type="text" th:field="${breach.sentNumber}" />
            </div>
            <label class="control-label col-md-1">Дата</label>
            <div class="col-md-2">
              <input class="form-control" type="datetime-local" th:field="${breach.sentDate}" />
            </div>
            <label class="control-label col-md-1" th:text="#{breach.method}"></label>
            <div class="col-md-4">
              <select class="form-control" th:field="${breach.breachMethod}">
                <option th:each="method : ${@breachMethodRepository.findAll()}"
                        th:value="${method.id}"
                        th:text="${method.breachType.name + ' - ' + method.name}">
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="control-label col-lg-offset-2 col-md-1">Вх номер</label>
            <div class="col-md-1">
              <input class="form-control" type="text" th:field="${breach.incomeNumber}" />
            </div>
            <label class="control-label col-md-1">Вх дата</label>
            <div class="col-md-2">
              <input class="form-control" type="datetime-local" th:field="${breach.incomeDate}" />
            </div>
            <label class="control-label col-md-1">Регіон</label>
            <div class="col-md-4">
              <select id="region" class="form-control" th:field="${breach.region}">
                <option th:each="region : ${@regionRepository.findAll()}"
                        th:value="${region.id}"
                        th:text="${region.name}"></option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="control-label col-lg-offset-2 col-md-1">ЕО номер</label>
            <div class="col-md-1">
              <input class="form-control" type="text" th:field="${breach.eoNumber}" />
            </div>
            <label class="control-label col-md-1">ЕО дата</label>
            <div class="col-md-2">
              <input class="form-control" type="datetime-local" th:field="${breach.eoDate}" />
            </div>
          </div>
          <div class="row">
            <label class="control-label col-lg-offset-2 col-md-1">ЕРДР номер</label>
            <div class="col-md-1">
              <input class="form-control"
                     type="text"
                     th:field="${breach.erdrNumber}" />
            </div>
            <label class="control-label col-md-1">ЕРДР дата</label>
            <div class="col-md-2">
              <input class="form-control"
                     type="datetime-local"
                     th:field="${breach.erdrDate}" />
            </div>
            <label class="control-label col-md-1">ЕРДР стаття</label>
            <div class="col-md-4">
              <input class="form-control"
                     type="text"
                     th:field="${breach.erdrArticle}"
                     onkeyup="this.value = this.value.toUpperCase();"/>
            </div>
          </div>

          <div class="row">
            <label class="control-label col-lg-offset-2 col-md-1">Фабула</label>
            <div class="col-md-9">
              <textarea class="form-control" th:field="${breach.story}" onkeyup="this.value = this.value.toUpperCase();">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" th:if="${breach.id}">
        <div class="panel-heading">ОСОБИ</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1" style="padding: 0">
              <ul class="nav navbar-right">
                <li>
                  <a th:href="@{{breachId}/participant(breachId=${breach.id})}" title="додати особу" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>особу</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-11">
              <!--/*@thymesVar id="participant" type="ua.gov.cyberpolice.breach.entity.Participant"*/-->
              <table class="table table-striped"  th:if="${!breach.participants.isEmpty()}">
                <tr>
                  <th class="glyphicon glyphicon-user"></th>
                  <th th:text="#{participant.type}"></th>
                  <th th:text="#{person.passport}"></th>
                  <th th:text="#{person.lastName}"></th>
                  <th th:text="#{person.firstName}"></th>
                  <th th:text="#{person.middleName}"></th>
                  <th th:text="#{person.birthDate}"></th>
                  <th th:text="#{person.address}"></th>
                  <th th:text="#{participant.nsrd}"></th>
                  <th></th>
                </tr>
                <tr th:each="participant : ${breach.participants}">
                  <td style="width: 40px"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${participant.participantType.name}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${participant.person?.passport}"></td>
                  <td style="white-space: nowrap" th:text="${participant.person?.lastName}"></td>
                  <td style="white-space: nowrap" th:text="${participant.person?.firstName}"></td>
                  <td style="white-space: nowrap" th:text="${participant.person?.middleName}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${participant.person?.birthDate}"></td>
                  <td style="width: 500px" th:text="${participant.person?.address}"></td>
                  <td style="width: 50px" th:text="${participant.nsrd}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/participant/{participantId}/edit(breachId=${breach.id},participantId=${participant.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" th:if="${breach.id}">
        <div class="panel-heading">ДЗВІНКИ</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1" style="padding: 0">
              <ul class="nav navbar-right">
                <li>
                  <a th:href="@{{breachId}/call-data-record(breachId=${breach.id})}" title="додати дзвінок">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <span>дзвінок</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-11">

              <table class="table table-striped" th:if="${!breach.callDataRecords.isEmpty()}">
                <tr>
                  <th class="glyphicon glyphicon-earphone"></th>
                  <th th:text="#{callDataRecord.type}"></th>
                  <th th:text="#{callDataRecord.date}"></th>
                  <th th:text="#{callDataRecord.imei}"></th>
                  <th th:text="#{callDataRecord.imsi}"></th>
                  <th th:text="#{callDataRecord.originator}"></th>
                  <th th:text="#{callDataRecord.terminator}"></th>
                  <th th:text="#{callDataRecord.cell_address}"></th>
                  <th th:text="#{callDataRecord.cell_latitude}"></th>
                  <th th:text="#{callDataRecord.cell_longitude}"></th>
                  <th th:text="#{callDataRecord.cell_azimuth}"></th>
                  <th></th>
                </tr>
                <!--/*@thymesVar id="callDataRecord" type="ua.gov.cyberpolice.breach.entity.CallDataRecord"*/-->
                <tr th:each="callDataRecord : ${breach.callDataRecords}">
                  <td style="width: 40px"></td>
                  <td th:text="${callDataRecord.type}"></td>
                  <td th:text="${callDataRecord.date}"></td>
                  <td style="width: 200px" th:text="${callDataRecord.imei}"></td>
                  <td style="width: 200px" th:text="${callDataRecord.imsi}"></td>
                  <td th:text="${callDataRecord.originator}"></td>
                  <td th:text="${callDataRecord.terminator}"></td>
                  <td style="width: 200px" th:text="${callDataRecord.cellAddress}"></td>
                  <td style="width: 100px" th:text="${callDataRecord.cellLatitude}"></td>
                  <td style="width: 100px" th:text="${callDataRecord.cellLongitude}"></td>
                  <td style="width: 100px" th:text="${callDataRecord.cellAzimuth}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/call-data-record/{cdrId}/edit(breachId=${breach.id},cdrId=${callDataRecord.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default" th:each="paymentMove, iter : ${breach.paymentMoves}">
        <div class="panel-heading" th:text="${'РУХ ПЛАТЕЖІВ ' + iter.index}"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1" style="padding: 0">
              <ul class="nav navbar-right">
                <li>
                  <a th:href="@{{breachId}/bank-card(breachId=${breach.id})}" title="додати картку">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    <span>картку</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{{breachId}/wallet(breachId=${breach.id})}" title="додати гаманець">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    <span>гаманець</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{{breachId}/website(breachId=${breach.id})}" title="додати сайт">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <span>веб сайт</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-11">
              <table class="table table-striped">
                <tr>
                  <th class="glyphicon glyphicon-credit-card"></th>
                  <th th:text="#{moneyTransaction.date}"></th>
                  <th th:text="#{moneyTransaction.type}"></th>
                  <th></th>
                </tr>
                <tr th:each="moneyTransaction : ${paymentMove.moneyTransactions}">
                  <td style="width: 40px"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${moneyTransaction.getDate()}"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${moneyTransaction.getType()}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/bank-card/{bankCardId}/edit(breachId=${breach.id},bankCardId=${moneyTransaction.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>





      <br><br>
      <div class="row">
        <div class="col-md-2" style="padding: 0">
          <ul class="nav navbar-right">
            <li>
              <a th:href="@{{breachId}/confiscated(breachId=${breach.id})}" title="додати конфіскацію" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                <span>вилучення</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-offset-2 col-md-8" style="padding: 0">
          <h2>Тимчасове вилучення майна під час обшуку</h2>
        </div>
      </div>
      <div class="panel panel-default" th:each="confiscated : ${breach.confiscated}">
        <div class="panel-heading">
          <span th:text="${'ВИЛУЧЕНО ' + confiscated.dateFormatted + ' &nbsp; &nbsp; &nbsp; ' + confiscated.address + ' &nbsp; &nbsp; '}"></span>
          <a th:href="@{{breachId}/confiscated/{confiscatedId}/edit(breachId=${breach.id},confiscatedId=${confiscated.id})}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1" style="padding: 0">
              <ul class="nav navbar-right">
                <li>
                  <a th:href="@{{breachId}/confiscated/{confiscatedId}/bank-card(breachId=${breach.id},confiscatedId=${confiscated.id})}"
                     title="додати картку">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    <span>картку</span>
                  </a>
                </li>
                <li class="active">
                  <a th:href="@{{breachId}/confiscated/{confiscatedId}/phone(breachId=${breach.id},confiscatedId=${confiscated.id})}"
                     title="додати телефон">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    <span>телефон</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{{breachId}/confiscated/{confiscatedId}/sim-card(breachId=${breach.id},confiscatedId=${confiscated.id})}"
                     title="додати sim карту">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon  glyphicon-signal" aria-hidden="true"></span>
                    <span>SIM карту</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-11">
              <table class="table table-striped" th:if="${!confiscated.bankCards.isEmpty()}">
                <tr>
                  <th class="glyphicon glyphicon-credit-card"></th>
                  <th th:text="#{bankCard.cardNumber}"></th>
                  <th th:text="#{bankCard.bankName}"></th>
                  <th th:text="#{person.passport}"></th>
                  <th th:text="#{person.lastName}"></th>
                  <th th:text="#{person.firstName}"></th>
                  <th th:text="#{person.middleName}"></th>
                  <th th:text="#{person.birthDate}"></th>
                  <th th:text="#{address}"></th>
                  <th></th>
                </tr>
                <!--/*@thymesVar id="bankCard" type="ua.gov.cyberpolice.breach.entity.BankCard"*/-->
                <tr th:each="bankCard : ${confiscated.bankCards}">
                  <td style="width: 40px"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${bankCard.cardNumber}"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${bankCard.bankName}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${bankCard.holder?.passport}"></td>
                  <td style="white-space: nowrap" th:text="${bankCard.holder?.lastName}"></td>
                  <td style="white-space: nowrap" th:text="${bankCard.holder?.firstName}"></td>
                  <td style="white-space: nowrap" th:text="${bankCard.holder?.middleName}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${bankCard.holder?.birthDate}"></td>
                  <td style="width: 500px" th:text="${bankCard.holder?.address}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/bank-card/{bankCardId}/edit(breachId=${breach.id},bankCardId=${bankCard.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>

              <table class="table table-striped" th:if="${!confiscated.phones.isEmpty()}">
                <tr>
                  <th class="glyphicon glyphicon-phone"></th>
                  <th th:text="#{phone.imei1}"></th>
                  <th th:text="#{phone.imei2}"></th>
                  <th th:text="#{person.passport}"></th>
                  <th th:text="#{person.lastName}"></th>
                  <th th:text="#{person.firstName}"></th>
                  <th th:text="#{person.middleName}"></th>
                  <th th:text="#{person.birthDate}"></th>
                  <th th:text="#{person.address}"></th>
                  <th></th>
                </tr>
                <!--/*@thymesVar id="phone" type="ua.gov.cyberpolice.breach.entity.Phone"*/-->
                <tr th:each="phone : ${confiscated.phones}">
                  <td style="width: 40px"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${phone.imei1}"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${phone.imei2}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${phone.holder?.passport}"></td>
                  <td style="white-space: nowrap" th:text="${phone.holder?.lastName}"></td>
                  <td style="white-space: nowrap" th:text="${phone.holder?.firstName}"></td>
                  <td style="white-space: nowrap" th:text="${phone.holder?.middleName}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${phone.holder?.birthDate}"></td>
                  <td style="width: 500px" th:text="${phone.holder?.address}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/phone/{phoneId}/edit(breachId=${breach.id},phoneId=${phone.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>

              <table class="table table-striped" th:if="${!confiscated.simCards.isEmpty()}">
                <tr>
                  <th class="glyphicon glyphicon-signal"></th>
                  <th th:text="#{simCard.phoneNumber}"></th>
                  <th th:text="#{simCard.iccid}"></th>
                  <th th:text="#{person.passport}"></th>
                  <th th:text="#{person.lastName}"></th>
                  <th th:text="#{person.firstName}"></th>
                  <th th:text="#{person.middleName}"></th>
                  <th th:text="#{person.birthDate}"></th>
                  <th th:text="#{person.address}"></th>
                  <th></th>
                </tr>
                <!--/*@thymesVar id="simCard" type="ua.gov.cyberpolice.breach.entity.SimCard"*/-->
                <tr th:each="simCard : ${confiscated.simCards}">
                  <td style="width: 40px"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${simCard.phoneNumber}"></td>
                  <td style="width: 200px; white-space: nowrap" th:text="${simCard.iccid}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${simCard.holder?.passport}"></td>
                  <td style="white-space: nowrap" th:text="${simCard.holder?.lastName}"></td>
                  <td style="white-space: nowrap" th:text="${simCard.holder?.firstName}"></td>
                  <td style="white-space: nowrap" th:text="${simCard.holder?.middleName}"></td>
                  <td style="width: 100px; white-space: nowrap" th:text="${simCard.holder?.birthDate}"></td>
                  <td style="width: 500px" th:text="${simCard.holder?.address}"></td>
                  <td style="width: 30px" >
                    <a th:href="@{{breachId}/sim-card/{simCardId}/edit(breachId=${breach.id},simCardId=${simCard.id})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-10 col-md-2">
        <button class="btn btn-default" type="submit">
          Зберегти
        </button>
      </div>
    </div>
  </form>
</body>
</html>
