<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<body>
<!--/*@thymesVar id="dictionaries" type="java.util.List<ua.gov.cyberpolice.breach.entity.Dictionary>"*/-->
    <div class="panel panel-default">
        <div class="panel-heading" th:text="#{dictionary}"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <table class="table table-bordered">
                        <tr>
                            <th th:text="#{dictionary.name}"></th>
                        </tr>
                        <tr th:each="dictionary : ${dictionaries}">
                            <td>
                                <a th:href="${dictionary.link}" th:title="${dictionary.name}">
                                    <span th:text="${dictionary.name}"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-10">
                    <!--/*@thymesVar id="breachType" type="ua.gov.cyberpolice.breach.entity.BreachType"*/-->
                    <form th:object="${breachType}"
                          th:if="${breachTypes}"
                          method="post"
                          autocomplete="off"
                          action="/dictionary/breach-type">
                        <div class="row">
                            <label class="control-label col-md-1" th:text="#{id}"></label>
                            <div class="col-md-2">
                                <input class="form-control"
                                       type="number"
                                       th:field="${breachType.id}"/>
                            </div>
                            <label class="control-label col-md-1" th:text="#{name}"></label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       th:field="${breachType.name}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-10 col-md-2">
                                <button class="btn btn-default" type="submit" th:text="#{submit}"></button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped" th:if="${breachTypes}">
                        <tr>
                            <th th:text="#{id}"></th>
                            <th th:text="#{name}"></th>
                            <th></th>
                        </tr>
                        <tr th:each="breachType : ${breachTypes}">
                            <td th:text="${breachType.id}"></td>
                            <td th:text="${breachType.name}"></td>
                            <td style="width: 30px" >
                                <a th:href="@{/dictionary/breach-type/{breachTypeId}(breachTypeId=${breachType.id})}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <table class="table table-striped" th:if="${breachMethods}">
                        <tr>
                            <th th:text="#{id}"></th>
                            <th th:text="#{type}"></th>
                            <th th:text="#{name}"></th>
                        </tr>
                        <tr th:each="breachMethod : ${breachMethods}">
                            <td th:text="${breachMethod.id}"></td>
                            <td th:text="${breachMethod.breachType.name}"></td>
                            <td th:text="${breachMethod.name}"></td>
                        </tr>
                    </table>

                    <table class="table table-striped" th:if="${participantTypes}">
                        <tr>
                            <th th:text="#{id}"></th>
                            <th th:text="#{name}"></th>
                        </tr>
                        <tr th:each="participantType : ${participantTypes}">
                            <td th:text="${participantType.id}"></td>
                            <td th:text="${participantType.name}"></td>
                        </tr>
                    </table>

                    <table class="table table-striped" th:if="${prisons}">
                        <tr>
                            <th th:text="#{id}"></th>
                            <th th:text="#{name}"></th>
                            <th th:text="#{prison.code}"></th>
                            <th th:text="#{prison.latitude}"></th>
                            <th th:text="#{prison.longitude}"></th>
                        </tr>
                        <!--/*@thymesVar id="prison" type="ua.gov.cyberpolice.breach.entity.Prison"*/-->
                        <tr th:each="prison : ${prisons}">
                            <td th:text="${prison.id}"></td>
                            <td th:text="${prison.name}"></td>
                            <td th:text="${prison.code}"></td>
                            <td th:text="${prison.latitude}"></td>
                            <td th:text="${prison.longitude}"></td>
                        </tr>
                    </table>

                    <table class="table table-striped" th:if="${paymentProviders}">
                        <tr>
                            <th th:text="#{id}"></th>
                            <th th:text="#{name}"></th>
                            <th th:text="#{paymentProvider.legalName}"></th>
                            <th th:text="#{paymentProvider.website}"></th>
                            <th th:text="#{paymentProvider.local}"></th>
                        </tr>
                        <!--/*@thymesVar id="paymentProvider" type="ua.gov.cyberpolice.breach.entity.PaymentProvider"*/-->
                        <tr th:each="paymentProvider : ${paymentProviders}">
                            <td th:text="${paymentProvider.id}"></td>
                            <td th:text="${paymentProvider.name}"></td>
                            <td th:text="${paymentProvider.legalName}"></td>
                            <td th:text="${paymentProvider.website}"></td>
                            <td th:text="${paymentProvider.local}"></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
