<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'breach')}">

<body>
<!--/*@thymesVar id="find" type="ua.gov.cyberpolice.breach.entity.Find"*/-->
  <form id="form" class="form-horizontal" th:object="${find}" method="post" autocomplete="off">
    <input type="hidden" th:field="${find.page}">
    <input type="hidden" th:field="${find.size}">
    <input type="hidden" th:field="${find.sortField}">
    <input type="hidden" th:field="${find.sortOrder}">
    <div class="panel panel-default">
      <div class="panel-heading">ПОШУК</div>
      <div class="panel-body">
        <div class="row">
          <label class="control-label col-md-1">Дата с</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="date"
                   th:field="${find.fromDate}" />
          </div>
          <label class="control-label col-md-1">Пасспорт</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="text"
                   th:field="${find.passport}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <label class="control-label col-md-1">Банк картка</label>
          <div class="col-md-4">
            <input class="form-control"
                   type="text"
                   th:field="${find.cardNumber}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <div class="col-md-1">
            <a class="btn btn-default" th:href="@{/breach/new}" title="Додати порушення">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-md-1">Дата по</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="date"
                   th:field="${find.toDate}" />
          </div>
          <label class="control-label col-md-1">Прізвище</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="text"
                   th:field="${find.lastName}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <label class="control-label col-md-1">IMEI</label>
          <div class="col-md-4">
            <input class="form-control"
                   type="text"
                   th:field="${find.imei}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-md-1">Телефон</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="text"
                   th:field="${find.phone}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <label class="control-label col-md-1">Ім'я</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="text"
                   th:field="${find.firstName}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <label class="control-label col-md-1">МАС</label>
          <div class="col-md-4">
            <input class="form-control"
                   type="text"
                   th:field="${find.mac}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-md-offset-3 col-md-1">По батькові</label>
          <div class="col-md-2">
            <input class="form-control"
                   type="text"
                   th:field="${find.middleName}"
                   onkeyup="this.value = this.value.toUpperCase();"/>
          </div>
          <div class="col-sm-offset-4 col-md-2">
            <button style="width: 100%" type="submit" class="btn btn-default">Пошук</button>
          </div>
        </div>
      </div>
    </div>
    <!--/*@thymesVar id="breach" type="ua.gov.cyberpolice.breach.entity.Breach"*/-->
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>
              <a onclick="sort('incomeNumber')">
                <span th:if="${find.sortField} == 'incomeNumber' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'incomeNumber' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                Вход номер
              </a>
            </th>
            <th>
              <a onclick="sort('incomeDate')">
                <span th:if="${find.sortField} == 'incomeDate' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'incomeDate' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                Вход дата
              </a>
            </th>
            <th>
              <a onclick="sort('eoNumber')">
                <span th:if="${find.sortField} == 'eoNumber' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'eoNumber' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                ЕО номер
              </a>
            </th>
            <th>
              <a onclick="sort('eoDate')">
                <span th:if="${find.sortField} == 'eoDate' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'eoDate' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                ЕО дата
              </a>
            </th>
            <th>
              <a onclick="sort('erdrArticle')">
                <span th:if="${find.sortField} == 'erdrArticle' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'erdrArticle' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                ЕРДР стаття
              </a>
            </th>
            <th>
              <a onclick="sort('erdrDate')">
                <span th:if="${find.sortField} == 'erdrDate' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'erdrDate' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                </span>ЕРДР дата
              </a>
            </th>
            <th>
              <a onclick="sort('erdrNumber')">
                <span th:if="${find.sortField} == 'erdrNumber' and ${find.sortOrder == 'ASC'}" class="glyphicon glyphicon-arrow-up"></span>
                <span th:if="${find.sortField} == 'erdrNumber' and ${find.sortOrder == 'DESC'}" class="glyphicon glyphicon-arrow-down"></span>
                ЕРДР номер
              </a>
            </th>
            <th></th>
          </tr>
          <tr th:each="breach : ${breaches}">
            <td th:text="${breach.incomeNumber}" style="white-space: nowrap"></td>
            <td th:text="${breach.incomeDate}" style="width: 200px; white-space: nowrap"></td>
            <td th:text="${breach.eoNumber}" style="white-space: nowrap"></td>
            <td th:text="${breach.eoDate}" style="width: 200px; white-space: nowrap"></td>
            <td th:text="${breach.erdrArticle}" style="white-space: nowrap"></td>
            <td th:text="${breach.erdrDate}" style="width: 200px; white-space: nowrap"></td>
            <td th:text="${breach.erdrNumber}" style="white-space: nowrap"></td>
            <td style="width: 30px" >
              <a th:href="@{/breach/__${breach.id}__}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
  <br/>
</body>
</html>
<script>
  function sort(field) {
    document.getElementById('sortField').value = field;
    if (document.getElementById('sortOrder').value === 'ASC') {
      document.getElementById('sortOrder').value = 'DESC';
    } else {
      document.getElementById('sortOrder').value = 'ASC';
    }
    document.getElementById('form').submit();
  }
</script>
